body {
    /* display: flex; */
    /* background-color: #2d2926 ; */
}

header {
    background-color: #2d2926 ;
}

.App-logo {
    height: 60px;
}

.athelas {
    overflow: hidden;
}

#maintext {
    font-family: 'Lobster', cursive;
    color: white;
        font-size: 54px;
        opacity: 0.85;
}

.slogan {
    
    color: #c8102e;
}

#banner {
    background:url('banner.1ee1a9d0.jpg') no-repeat;
}
#banner2 {
    background:url('banner2.24c98455.jpg') no-repeat;
}

#banner:hover {
    transform: scale(1.1);
    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* #maincontainer {
   margin-left: auto;
   margin-right: auto;
} */

.texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3em;
    margin-right: 3em;
}



.sec {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    /* box-shadow: 0 0 3px 3px rgba(0,0,0,0.2); */
  }

.bg {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    z-index: -1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* border: 3px solid red; */
}

.hsec {
    color: white;
    /* color: #2d2926; */
    /* color: #c8102e; */
    text-shadow: 1px 1px 3px black;
    z-index: 1;
    font-size: 6em;
    font-weight: 400;
  }
.hsec2 {
    color: white;
    /* color: #2d2926; */
    /* color: #c8102e; */
    text-shadow: 1px 1px 3px black;
    z-index: 1;
    font-size: 3em;
    font-weight: 400;
  }
.hsec3 {
    color: white;
    /* color: #2d2926; */
    /* color: #c8102e; */
    text-shadow: 1px 1px 3px black;
    z-index: 1;
    font-size: 2em;
    font-weight: 400;
  }



#slide1 {
    background-image: url('SF.5f135423.jpg');
}
#slide2 {
    background-image: url('2.09de69a3.jpg');
}
#slide3 {
    background-image: url('3.23137f55.jpg');
}






#linehauls {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}