/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Noto Serif', serif;
  font-family: 'Roboto', sans-serif; }
  body header {
    background-color: #2d2926;
    opacity: 0.95; }
  body .App-logo {
    height: 50px; }
  body .athelas {
    overflow: hidden; }
  body #banner {
    background: url("banner1400.8522a55b.png") no-repeat; }
    body #banner #maintext {
      font-family: 'Lobster', cursive;
      color: white;
      font-size: 54px;
      opacity: 0.85; }
    body #banner .slogan {
      color: #c8102e; }
    body #banner:hover {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
  body #brand-cards {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr;
    justify-items: center; }
  body #linehauls {
    display: flex;
    justify-content: center;
    margin-top: 25px; }
  body #callbtn {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; }
    body #callbtn button {
      min-width: 165px;
      width: auto;
      height: 50px;
      letter-spacing: 0.5px;
      line-height: 50px;
      padding: 0 35px 0 35px;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: bolder;
      border: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      margin: 1%; }
    body #callbtn #btn1 {
      background-color: #c8102e;
      color: #2d2926; }
      body #callbtn #btn1:hover {
        background-color: white;
        color: #c8102e;
        border: 1px solid black; }
    body #callbtn #btn2 {
      background-color: #2d2926;
      color: #c8102e; }
      body #callbtn #btn2:hover {
        background-color: white;
        color: #2d2926;
        border: 1px solid black; }
    body #callbtn #btnemail {
      color: #c8102e; }
  body .sec {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* box-shadow: 0 0 3px 3px rgba(0,0,0,0.2); */ }
  body .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    z-index: -1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* border: 3px solid red; */ }
  body .hsec {
    color: white;
    /* color: #2d2926; */
    /* color: #c8102e; */
    text-shadow: 1px 1px 3px black;
    z-index: 1;
    font-size: 6em;
    font-weight: 400; }
  body .hsec2 {
    color: white;
    /* color: #2d2926; */
    /* color: #c8102e; */
    z-index: 1;
    font-size: 3em;
    font-weight: 400; }
  body .hsec3 {
    color: white;
    /* color: #2d2926; */
    /* color: #c8102e; */
    z-index: 1;
    font-size: 2em;
    font-weight: 400; }
  body #slide1 {
    background-image: url("Aircraft400x300.d8a2b01a.jpg"); }
  body #slide2 {
    background-image: url("SFcar1.bd626f6d.jpg"); }
  body section #car {
    height: 200px;
    width: 400px; }
  body #car {
    display: flex;
    justify-content: end; }
  body #vehicle {
    background-color: #c6aa76; }
  body .car-timeline {
    width: 100px;
    height: 80px; }
  body #warehouse {
    width: 150px;
    height: 100%;
    border: 1em solid #c8102e;
    justify-self: center;
    align-self: center;
    background-color: #2d2926; }
    body #warehouse #white-logo {
      margin-top: 150px; }
    body #warehouse p {
      text-align: center; }
  body #car-container {
    display: grid;
    grid-template-columns: 1fr 150px 1fr;
    color: #c8102e;
    font-weight: 700; }
  body #col1 {
    align-self: center; }

@media only screen and (min-width: 560px) {
  body #brand-cards {
    display: grid;
    grid-template-columns: 1fr; }
  body #slide1 {
    background-image: url("Aircraft1200x900.56ce239d.jpg"); } }
/* end media query */
@media only screen and (min-width: 1140px) {
  body #brand-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
  body #slide1 {
    background-image: url("Aircraft1200x900.56ce239d.jpg"); } }
